<ul class="product-cat-list">
    <% catData.forEach(data=> { %>
      <li>
        <a href="category/shirts">
          <button class="cat-item">
            <%= data.cat_name %>
              <span class="cat-span">( 17 )</span>
          </button></a>
      </li>
      <% }) %>
  </ul>